<a href="https://colab.research.google.com/github/asif-tech/Data-analysis-Projects/blob/main/Customer_Segmentation_Customer_Adress_Data_DQA_and_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seabornas sns

In [9]:
cust_addr=pd.read_excel("/Raw_data.xlsx", sheet_name='CustomerAddress')

In [10]:
cust_addr.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [11]:
cust_addr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [16]:
print("Total Number of rows(records) {}".format(cust_addr.shape[0]))
print("Total Number of columns(features) {}".format(cust_addr.shape[1]))

Total Number of rows(records) 3999
Total Number of columns(features) 6

In [22]:
df_numeric = cust_addr.select_dtypes(include=np.int64)
numeric_cols = df_numeric.columns.values
print("The numeric columns are {}".format(numeric_cols))

df_non_numeric = cust_addr.select_dtypes(exclude=np.number)
non_numeric_cols = df_non_numeric.columns.values
print("The non-numeric columns are {}".format(non_numeric_cols))

The numeric columns are ['customer_id' 'postcode' 'property_valuation']
The non-numeric columns are ['address' 'state' 'country']

In [23]:
cust_addr.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [39]:
cust_addr['state'].value_counts()

state
NSW    2140
VIC    1021
QLD     838
Name: count, dtype: int64

In [37]:
def replace_state_name(state_name):
  if state_name =='Victoria':
    return 'VIC'
  elif state_name == "New South Wales":
    return'NSW'
  else:
    return state_name

In [38]:
cust_addr['state']=cust_addr['state'].apply(replace_state_name)

In [40]:
cust_addr['country'].value_counts()

country
Australia    3999
Name: count, dtype: int64

In [41]:
cust_addr['address'].value_counts()

address
3 Mariners Cove Terrace      2
3 Talisman Place             2
64 Macpherson Junction       2
359 Briar Crest Road         1
4543 Service Terrace         1
                            ..
5063 Shopko Pass             1
09 Hagan Pass                1
87897 Lighthouse Bay Pass    1
294 Lawn Junction            1
320 Acker Drive              1
Name: count, Length: 3996, dtype: int64

In [42]:
cust_addr['postcode'].value_counts()

postcode
2170    31
2155    30
2145    30
2153    29
3977    26
        ..
3808     1
3114     1
4721     1
4799     1
3089     1
Name: count, Length: 873, dtype: int64

In [43]:
cust_addr[['address','country','postcode','state']].drop_duplicates()

                        address    country  postcode state
0            060 Morning Avenue  Australia      2016   NSW
1           6 Meadow Vale Court  Australia      2153   NSW
2            0 Holy Cross Court  Australia      4211   QLD
3           17979 Del Mar Point  Australia      2448   NSW
4              9 Oakridge Court  Australia      3216   VIC
...                         ...        ...       ...   ...
3994            1482 Hauk Trail  Australia      3064   VIC
3995  57042 Village Green Point  Australia      4511   QLD
3996     87 Crescent Oaks Alley  Australia      2756   NSW
3997           8194 Lien Street  Australia      4032   QLD
3998            320 Acker Drive  Australia      2251   NSW

[3999 rows x 4 columns]

In [46]:
cust_address_dedupped = cust_addr.drop('customer_id', axis=1).drop_duplicates()

print("Number of records after removing customer_id (pk), duplicates : {}".format(cust_address_dedupped.shape[0]))
print("Number of records in original dataset : {}".format(cust_addr.shape[0]))

Number of records after removing customer_id (pk), duplicates : 3999
Number of records in original dataset : 3999

In [47]:
cust_addr.to_csv("Customer_Adress_Cleaned.csv",index = False)